{% extends 'base.html.twig' %}

{% block title %}Entreprise X - Clients
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Clients</h1>

        <a href="{{ path('customers.new' )}}">Ajouter un Client</a>
        
        <table>
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Adresse</th>
      <th scope="col">Code Postal</th>
      <th scope="col">Ville</th>
      <th scope="col">Pays</th>
      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
      <th scope="row">{{ customer.id }}</th>
      <td>{{ customer.Firstname }}</td>
      <td>{{ customer.Lastname }}</td>
      <td>{{ customer.Street }}</td>
      <td>{{ customer.PostalCode }}</td>
      <td>{{ customer.City }}</td>
      <td>{{ customer.Country }}</td>
      <td><a href="{{ path('customers.edit', { id: customer.id })}}">Modifier</a></td>
      <td><a href="{{ path('customers.delete', { id: customer.id })}}">Supprimer</a></td>
    </tr>   
        {% endfor %}
  </tbody>
    </table>
    <div>
        {{ knp_pagination_render(customers) }}
    </div>
    </div>
			<a href="{{'/'}}" role="button">Accueil</a>

{% endblock %}
