{% extends 'base.html.twig' %}

{% block title %}Entreprise X - Facturation
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Factures</h1>

		<a href="{{ path ('invoices.new')}}" class="btn btn-dark mt-4">Ajouter une facture</a>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{% for chunk in invoices|batch(4) %}
			<div class="d-flex justify-content-center container mt-5">
				{% for invoice in chunk %}
					<div class="card p-3 bg-white max-card-width max-card-height">
						<div class="about-product text-center mt-2">
							<div>
								<h3>Facture n°{{ invoice.id }}</h3>
								<h5 class="mt-0 text-black-50">{{ invoice.customerId.lastName }}
									{{ invoice.customerId.firstName }}</h5>
								<h6 class="mt-0 text-black-50">{{ invoice.customerId.street }}</h6>
								<h6 class="mt-0 text-black-50">{{ invoice.customerId.postalCode }}</h6>
								<h6 class="mt-0 text-black-50">{{ invoice.customerId.city }}</h6>
								<h6 class="mt-0 text-black-50">{{ invoice.customerId.country }}</h6>
							</div>
						</div>
						<div class="stats mt-2">
							{% for product in invoice.products %}
								<div class="d-flex justify-content-between p-price">
									<span>{{ product.name }} -></span>
									<span>
										{{product.price}}€</span>
								</div>
							{% endfor %}
						</div>
						<h6 class="mt-0 text-black-50 text-center mt-4">{{ invoice.date.format('Y-m-d') }}</h6>
						<div class="d-flex justify-content-between total font-weight-bold mt-4">
							<span>Total</span>
							<span>{{ invoice.totalPrice }}€</span>
						</div>
						<a href="{{ path('invoices.edit', { id: invoice.id })}}" class="btn btn-info mt-4">Modifier</a>
						<a href="{{ path('invoices.delete', { id: invoice.id })}}" class="btn btn-warning mt-4">Supprimer</a>
					</div>
			<div class="spacer"></div>

				{% endfor %}
			</div>
		{% endfor %}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(invoices) }}
		</div>
	</div>
{% endblock %}
