{% extends 'base.html.twig' %}


{% block title %}Entreprise X - Ajout Facture
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class='mt-4'>Ajout d'une facture</h1>

        {{ form_start(form)}}

		{{ form_row(form.customerId) }}
		{{ form_row(form.products) }}

		<div class="form-group">
			<div>
				{{ form_row(form.totalPrice) }}
				<div id="totalPriceDisplay">Montant total estimé : 0€</div>
			</div>
		</div>
		{{ form_row(form.date) }}

		{{ form_row(form.submit) }}

		{{ form_end(form) }}
	{% endblock %}
